.gradient-blinds-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gradient-blinds-container.about-gradient-blinds {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}
